.linear-wipe {
  display: inline-block;
  background: linear-gradient(to right, #FFF 20%, #e1a0ff 40%, #e1a0ff 60%, #FFF 80%);
  background-size: 200% auto;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
  animation: shine 3s linear infinite reverse;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-10px);}
}