---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="absolute w-full h-full flex items-center justify-center">
        <Card></Card>
    </div>
    <video autoplay muted loop class="absolute w-full h-full object-cover -z-10">
        <source src="/assets/background.mp4" type="video/mp4" />
</Layout>

