---
import Card from '../components/Card.astro';
import Mediaplayer from '../components/Mediaplayer.astro';
import Layout from '../layouts/Layout.astro';
import Social from '../components/Social.astro';
import "../styles/global.css";
---

<Layout title="Home">
    <div class="absolute w-full h-full flex items-center justify-center gap-4">
        <Card class="w-full md:w-150">
            <h1 class="text-4xl font-bold mb-4 text-white linear-wipe">Azti</h1>
            <p class="text-lg text-white wrap-break-word">
                Idk bruh I think I cooked
            </p>
            <div class="socials flex text-white text-[50px] gap-4 mt-4 justify-center">
                <Social href="https://github.com/aztilux" class="fa-brands fa-github" />
                <Social href="https://discordapp.com/users/974396088482152478" class="fa-brands fa-discord" />
            </div>
        </Card>
        <Mediaplayer />
    </div>
    <video autoplay muted loop class="absolute w-full h-full object-cover -z-10">
        <source src="/assets/background.mp4" type="video/mp4" />
    </video>

    <style>
        h1, p {
            cursor: default;
        }
    </style>
</Layout>