<a href={Astro.props.href} class="hover:border-[#e1a0ff] hover:text-[#e1a0ff] transition-colors block md:inline-block w-full mb-1 text-center rounded-lg border-2 border-white text-white cursor-pointer p-1">
    <slot />
</a>